@font-face {
    font-family: 'Harmonia';
    src: url('harmonia.ttf') format('truetype'); 
}

body {
    background-color: #000000; 
    color: #000000;
    font-family: 'Harmonia', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow:auto; 
}

#backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 1; 
    animation: fadeIn 1s ease-in-out forwards;
}

#blackOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1); 
    z-index: -1; 
}

h1 {
    color: #ffffff; 
    font-size: 4rem; 
    text-align: center; 
    margin: 20px 0; 
    margin-top: -5vh;
}

label {
    display: block; 
    margin-bottom: 10px; 
    color: #ffffff;
    text-align: center;
    margin-top: 3vh;
}

.custom-input {
    background-color: #000000; 
    border: 3px solid #ffffff;
    border-radius: 7px;
    color: #ffffff; 
    padding: 10px; 
    font-size: 1rem; 
    font-family: 'Harmonia', sans-serif; 
    width: 100%; 
    width: 80vw;
    box-sizing: border-box; 
    margin-bottom: 20px; 
}

.custom-button {
    background-color: #000000; 
    border: 3px solid #ffffff;
    border-radius: 7px; 
    color: #ffffff; 
    padding: 10px 20px; 
    font-size: 1rem; 
    font-family: 'Harmonia', sans-serif; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-bottom: 2vh; 
    width: 80vw;
}

.custom-button:hover {
    background-color: #ffffff; 
    color: #000000; 
}

.result-box {
    margin-top: 0px;
    background-color: #000000;
    border: 3px solid #ffffff;
    border-radius: 7px;
    width: 80vw;
    height: 40vh; 
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    overflow-y: auto; 
}

.result-content {
    color: #404040;
    font-family: 'Harmonia', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
    white-space: pre-wrap; 
}

.result-title {
    color: #ffffff; 
    font-family: 'Harmonia', sans-serif; 
    margin: 0; 
    font-size: 2rem; 
}

.footer {
    font-family: 'Harmonia', sans-serif; 
    opacity: 1; 
    font-size: 1rem; 
    text-align: center; 
    margin-top: 10vh; 
    color: #ffffff; 
}

.user-name {
    color: #ffffff; 
}

.problem-count {
    color: #50c878; 
}

@keyframes flash {
    0%, 100% {
        color: #404040; 
    }
    50% {
        color: #ffffff; 
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loading {
    color: #404040; 
    animation: flash 0.5s infinite; 
    margin: 10px 0;
}